body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1.logo {
  font-size: 25px;
  font-family: Lexend;
}

a {
  text-decoration: none;
}

.main_header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 40px 40px 30px 30px;
}

.main_header_left {
  grid-column: 1 / 2; 
  justify-self: center;
  align-self: center;
}

.main_header_logo {
  grid-column: 2 / 3;
  justify-self: center;
  align-self: center;
}

.main_header_right {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
}

.header_link {
  margin-left: 20px;
}


/* NAVBAR - Beginning */

.navbar_flexbox {
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 45px;
align-items: center;
justify-content: center;
margin: 0;
}

ul {
list-style: none;
padding: 0;
}

.nav_item {
font-family: lexend;
font-size: 18px;
font-weight: 300;
color: #767679;
opacity: 80%;
}

.nav_decoration[aria-current="page"] {
  color: black;
  font-weight: 500;
}

.btn {
text-decoration: none;
color: var(--text);
cursor: pointer;
}

/* NAVBAR - End */

/* IN-PAGE NAVBAR – Start */


/* MAIN CONTENT – START */

.artist_statement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 200px 20px 100px 20px;
  padding: 50px 0 150px 0;
}

.artist_container {
  width: 400px;
  font-family: 'lexend';
}


h1.artist_heading {
  font-family: 'lexend';
  text-align: center;
  font-size: 40px;
  font-weight: 435;
  line-height: 3.8rem;
}


h2.statement {
  font-family: 'lexend';
  text-align: center;
  font-weight: 300;
  font-size: 23px;
  line-height: 2.8rem;
  padding: 10px 0 10px 0;
}

.bold_text {
  font-weight: 550;
}

/*  CASE STUDIES  */

.case_study_display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.case_study_display_img {
  width: 600px;
  height: 450px;
}

.case_study_text {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  line-height: 2.3rem;
}

h3.case_study_display_title {
  font-family: 'lexend';
  font-size: 19px;
  font-weight: 400;
  text-align: Left;
  color:black;
  opacity: 70%;
}

p.case_study_display_description {
  font-family: 'lexend';
  font-size: 26px;
  font-weight: 400;
  text-align: left;
  text
}

.case_study_arrow {
  font-family: 'Lexend';
  font-size: 18px;
  font-weight: 350;
  color:#767679;
}

.case_study_display_link {
  color: black;
}

.case_study_display_spotify {
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 450px;
  padding: 25px;
}

.case_study_display_one {
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 450px;
  padding: 25px;
}

.case_study_display_two {
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 450px;
  padding: 25px;
}

.case_study_display_three {
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 450px;
  padding: 25px;
}

/* Footer – Beginning */

.footer_copyright {
  font-family: lexend;
  font-weight: 200;
  text-align: center;
  padding: 20px; 
}

/* Footer – End */

@media (max-width: 415px) {
  body {
    margin: 0;
    padding: 0;
  }

  .main_header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .main_header_left {
    justify-self: start;
  }

  .linkedin_github {
    display: none;
  }

  .nav_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .navbar_flexbox {
    flex-direction: column;
    width: 300px;
    display: none;
    border-radius: 15px;
    background-color: #DFE6FF;
    padding: 8px 0 12px 0;
    margin-bottom: 12px;
    margin-top: 50px;
  }

  .nav_item {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    padding: 5px 0;
  }
  
  .hamburger_icon {
    height: 2.75rem;
    width: 2.75rem;
    opacity: 100%;
    background-color: black;
    border-radius: 0.25em;
  }

  .burger_flex {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap: 7px;
  }

  .line {
    background-color: #B8B7B7;
    border-radius: 5px;
    width: 30px;
    height: 3px;
  }
  
  .hamburger_icon.isactive .line:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger_icon.isactive .line:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }
  
  .hamburger_icon.isactive .line:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }
  
  .navbar_flexbox.active {
    display: block;
    animation: fade .5s;
    z-index: 2;
  }

  .main_header_logo {
    display: block; 
    z-index: 0;
  }

  .artist_statement {
    margin: 25px 25px;
    padding: 120px 0 120px 0;
  }

  h1.artist_heading {
    font-size: 30px;
    line-height: 1.7em;
  }

  h2.statement {
    line-height: 1.7em;
  }

  .case_study_display {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
    margin: 0;
    align-items: center;
    justify-content: center;
    width: 350px;
  }

  .case_study_display_spotify {
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    margin: 0;
    padding: 0;
  }

  .case_study_display_one {
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    padding: 0 0 40px 0;
    margin: 0;
  }

  .case_study_display_two {
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    margin: 0;
    padding: 0 0 40px 0;
    align-items: flex-start;
    justify-content: center;
  }

  .case_study_display_three {
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    margin: 0;
    padding: 0 0 40px 0;
    align-items: flex-start;
  }

  .case_study_display_img {
    width: 330px;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .case_study_text  {
    margin: 0;
    padding: 0;
    width: 330px;
  }

  .footer_wrapper {
    text-align: center;
    font-family: 'lexend';
    font-weight: 200;
    padding: 30px 20px;
  }

}
  