body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1.logo {
  font-size: 25px;
  font-family: Lexend;
}
  
a {
  text-decoration: none;
}
  
.main_header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  "left center right";
  margin: 40px 40px 30px 30px;
}
  
.main_header_left {
  grid-area: left;
  justify-self: center;
  align-self: center;
}

.main_header_logo {
  grid-area: center;
  justify-self: center;
  align-self: center;
}
  
.main_header_links {
  grid-area: right;
  justify-self: end;
  align-self: center;
}
  
.header_link {
  margin: 14px;
}

/* NAVBAR - Beginning */

.navbar_flexbox {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

ul {
  list-style: none;
  padding: 0;
}

.nav_item {
  font-family: lexend;
  font-size: 17px;
  font-weight: 300;
}

.nav_decoration[aria-current="page"] {
  text-decoration: underline wavy #f8c348 0.15rem;
  text-underline-offset: 0.5rem;
}

.btn {
  text-decoration: none;
  color: var(--text);
  cursor: pointer;
}

.nav_decoration[aria-current="page"] {
  text-decoration: underline wavy #f8c348 0.15rem;
  text-underline-offset: 0.5rem;
}

/* NAVBAR - End */

/* HAMBURGER */

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 5px;
  transition: all 0.3s ease;
  background-color: #A1B4F8;
  border-radius: 5px;
}

/* MAIN CONTENT – START */

.grid_container {
  display: grid;
  grid-template-areas: 
    "one two three"
    "four five six"
    "seven eight nine";
  justify-items: center;
  padding: 40px 90px;
}

.grid_item_left {
  grid-area: one four;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 20px 0px;
}

.grid_item_center {
  grid-area: two five;
  background-color: aliceblue;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 20px 0px;
}

.grid_item_right {
  grid-area: three six;
  background-color: pink;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 20px 0px;
}

.one {
  background-color: #DFE6FF;
}

.two {
  background: url('Images/index_grid/1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.three {
  background-color: #FFE6B6;
}

.four {
  background: url('Images/index_grid/2.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.five {
  background-color: #DEE2EE;
}

.six {
  background: url('Images/index_grid/3.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.seven {
  background: url('Images/index_grid/4.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.nine {
  background-color: #C3EAD7;
}

/* Footer – Beginning */

.footer_wrapper {
  margin: 40px 40px;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  border: 3px solid #A1B4F8;
}

.footer_content {
  display: flex;
}

.footer_headshot, .footer_text {
  margin: 40px 20px 30px 30px;
}

.footer_headshot {
  background-color: #FF8EDF;
  opacity: 22%;
  height: 300px;
  width: 300px;
  border-radius: 16px;
}

.footer_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0px;
  flex: 1;
}

h2.footer_title {
  font-size: 21px;
  font-family: lexend;
  color: #4D504E;
  font-weight: 375;
}

p.footer_greeting {
  font-family: lexend;
  font-size: 18px;
  text-align: left;
  font-weight: 275;
  line-height: 135%;
}

.footer_buttons {
  display: flex;
  gap: 30px;
  margin: 30px 0px;
  font-size: 18px;
  font-family: Lexend;
  align-items: center;
}

a.footer_button_one {
  color: black;
  background-color: white;
  padding: 12px;
  border-radius: 9px;
  text-align: center;
  border: 2.7px solid;
}

a.footer_button_two {
  color: black;
  background-color: white;
  padding: 12px;
  border-radius: 9px;
  text-align: center;
  border: 2.7px solid #84C9A8;
}

.footer_button {
  background-color: white;
  border-radius: 13px;
  padding: 11px;
}

p.copyright {
  padding: 20px;
  font-family: 'Inria Serif', serif;
  text-align: center;
  width: 100%;
  font-weight: 200;
}

/* Footer – End */

@media (max-width: 390px) {
  .main_header {
    margin: 40px 20px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main_header_logo {
    display: flex;
  }

  .main_header_left {
    display: none;
  }

  .header_link {
    display: none;
  }

  .hamburger {
    display: block;
  }
  
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar_flexbox {
    flex-direction: column;
  }

  .nav_item{
    margin: 16px 0;
  }
  
  .hamburger.active {
    left: 50%;
  }

  .navbar_flexbox.active {
    left: -100%;
    top: 40px;
    gap: 0;
    background-color: #FFE6B6;
    width: 100%;
    transition: 0.3s;
  }

  .grid_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .footer_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 15px;
  }

  .footer_text {
    margin: 15px 15px;
  }

  h2.footer_title {
    font-weight: 425;
    text-align: center;
  }

  p.footer_greeting {
    text-align: center;
  }

  .footer_buttons {
    margin: 20px 20px;
  }
  .footer_headshot {
    display: none;
  }
  
}
  