body {
  margin: 0;
  padding: 0;
  background-color: #EFFFEF;
  }
  
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
  
h1.logo {
  font-size: 25px;
  font-family: Lexend;
}
  
a {
  text-decoration: none;
}
  
.main_header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 40px 40px 30px 30px;
}
  
.main_header_left {
  grid-column: 1 / 2; 
  justify-self: center;
  align-self: center;
}
  
.main_header_logo {
  grid-column: 2 / 3;
  justify-self: center;
  align-self: center;
}
  
.main_header_right {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
}
  
.header_link {
  margin-left: 20px;
}
  
/* NAVBAR - Beginning */
  
.navbar_flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 45px;
  align-items: center;
  justify-content: center;
  margin: 0;
}
  
ul {
  list-style: none;
  padding: 0;
}
  
.nav_item {
  font-family: lexend;
  font-size: 18px;
  font-weight: 300;
  color: #767679;
  opacity: 80%;
}
  
.nav_decoration[aria-current="page"] {
  color: black;
  font-weight: 500;
}
  
.btn {
  text-decoration: none;
  color: var(--text);
  cursor: pointer;
}

/*    CASE STUDIES    */

.case_study_title_desc {
  text-align: center;
  font-size: 25px;
  font-weight: 200;
  font-family: 'Lexend';
  letter-spacing: 0.05em;
}

.case_study_section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 200px 0;
}

.case_study_section_iv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  gap: 80px;
  padding: 200px 0;
}

.iv_flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 27%;
  gap: 30px;
}

.img_thumb {
  width: 100px;
}
.case_study_section_v {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0;
  gap: 70px;
}

.h3_spotify {
  font-weight: 275;
  width: 35%;
  line-height: 1.2em;
  padding-top: 80px;
}

.title_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Lexend';
  padding: 400px 0;
  line-height: 2em;
  letter-spacing: 0.02em;
}

.case_study_title {
  font-size: 65px;
  text-align: left;
  font-weight: 410;
  font-family: 'lexend';
}

.spotify_logo {
  width: 80px;
}

p.title_section {
  text-align: left;
  font-size: 25px;
  font-weight: 150;
  font-family: 'Lexend';
  letter-spacing: 0.05em;
}

.case_study_img {
  width: 300px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 85px 0;
}

.cover {
  padding: 0;
  margin-top: 50px;
}

.feature_intro {
  background-color: black;
}

.feature_intro_text {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 60px;
}

.feature_intro_title {
  text-align: center;
  font-size: 25px;
  font-weight: 410;
  font-family: 'Lexend';
  color: white;
}

.img_savequeue {
  width: 300px;
}

.repeat {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 400px;
}

.img_repeat {
  width: 150px;
  padding: 50px;
}

.spotify_section_i {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding: 150px 0px;
}

.h1_spotify {
  width: 30%;
  text-align: center;
  align-self: flex-start;
  font-size: 30px;
  font-weight: 410;
  font-family: 'Lexend';
}

.p_spotify {
  width: 30%;
  text-align: left;
  align-self: flex-start;
  font-family: 'Lexend';
  font-weight: 200;
  letter-spacing: 0.03em;
  color: #282828;
}

/* Footer – Beginning */

.footer_copyright {
  font-family: lexend;
  font-weight: 200;
  text-align: center;
  padding: 175px 0 30px 0;
}

/* Footer – End */

@media (max-width: 415px) {
  body {
    margin: 0;
    padding: 0;
    background-color: white;
  }

  .main_header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .main_header_left {
    justify-self: start;
  }

  .linkedin_github {
    display: none;
  }

  .nav_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .navbar_flexbox {
    flex-direction: column;
    width: 300px;
    display: none;
    border-radius: 15px;
    background-color: #DFE6FF;
    padding: 8px 0 12px 0;
    margin-bottom: 12px;
    margin-top: 50px;
  }

  .nav_item {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    padding: 5px 0;
  }
  
  .hamburger_icon {
    height: 2.75rem;
    width: 2.75rem;
    opacity: 100%;
    background-color: black;
    border-radius: 0.25em;
  }

  .burger_flex {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap: 7px;
  }

  .line {
    background-color: #B8B7B7;
    border-radius: 5px;
    width: 30px;
    height: 3px;
  }
  
  .hamburger_icon.isactive .line:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger_icon.isactive .line:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }
  
  .hamburger_icon.isactive .line:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }
  
  .navbar_flexbox.active {
    display: block;
    animation: fade .5s;
    z-index: 2;
  }

  .main_header_logo {
    display: block;
    z-index: 0;
  }

  .title_container {
    padding: 100px 0;
    gap: 200px;
  }

  h1.case_study_title {
    font-size: 45px;
  }

  p.case_study_title_desc {
    font-size: 25px;
    padding: 0 20px;
  }

  .case_study_section {
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 75px 0;
  }

  .feature_intro_text {
    width: 75%;
  }

  .case_study_section_iv {
    padding: 75px 0;
  }

  .case_study_section_v {
    padding: 75px 0;
  }

  .feature_intro {
    padding: 75px 0;
  }

  .spotify_section_i {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 75px 0;
  }

  .h1_spotify {
    width: 75%;
    text-align: left;
    padding: 35px;
  }

  .p_spotify {
    width: 75%;
    text-align: left;
    padding: 35px;
  }

  .footer_wrapper {
    text-align: center;
    font-family: 'lexend';
    font-weight: 200;
    padding: 30px 20px;
  }
}