* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
  }

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }

h1.global_nav_center {
  font-size: 30px;
  font-family: Lexend;
}

a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.global_nav {
  top: 0;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.nav-item {
  width: 90px;
}

.main_header {

}

.global_nav_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.global_nav_left {
  content: "";
}

.hero-area {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
}

.hero_image {
  background: url('Images/Header/writing_photography.jpg');
  background-repeat: no-repeat;
  background-position: bottom -25px right 0;
  background-size: cover;
  height: 200px;
}

.hero_title_container {
  padding-top: 50px;
}

h1.hero_text {
  color: white;
  font-size: 35px;
  font-family: lexend;
  text-align: center;
  letter-spacing: 2px;
  line-height: 35px;
  text-shadow: 2px 2px 2px #767679;
}

.writing_padding {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px 50px;
  width: auto;
}

img.writing_hero {
  width: 400px;
  height: 400px;
  object-fit: cover;
  padding: 30px;
}

h1.writing_one {
  color: green;
  text-align: center;
}

section.photography {
  display: flex;
  justify-content: center;
  padding: 30px 50px;
}

img.feature_photos {
  height: 600px;
  width: auto;
  border-radius: 20px;
}

footer {
  background-color: #DFE6FF;
  opacity: 80%;
  background-size: cover;
  margin: 0 45px;
  border-radius: 13px;
  display: flex;
  flex-direction: row;
  height: 100px;
}

.footer_content_right {
  order: 2;
}

.footer_headshot {
  order: 1;
  height: 100%;
  background-color: orange;
}


p.copyright {
  padding-bottom: 15px;
  font-family: lexend;
  order: 3;
  text-align: center;

}

/* }

.global_nav_center {
    background-color: beige;
}

.global_nav_right {
    position: absolute;
    margin-left: auto;
    flex-basis: 50%;
} */
